@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Nunito:wght@400;600;700;800;900&family=Space+Mono:wght@400;700&display=swap');

@theme {
  --color-dark-bg: #0d0d0d;
  --color-dark-card: #1a1a2e;
  --color-cyan-accent: #00BCD4;
  --color-purple-accent: #9333EA;
  --color-muted-text: #6b7280;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: 'Space Mono', monospace;
  min-height: 100vh;
}

.font-mono2 {
  font-family: 'Space Mono', monospace;
  font-size: .87rem;
  color: #6B7299;
  max-width: 400px;
  line-height: 1.7;
  letter-spacing: var(--tracking-normal);
}

.font-orb {
  font-family: 'Orbitron', monospace;
  font-size: 3rem;
  font-weight: 900;
  line-height: 2.5rem;
  background: linear-gradient(135deg, #fff 20%, rgba(0, 229, 255, .7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.font-orb2 {
  font-family: 'Orbitron', monospace;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 900;
  line-height: 1.75rem;
  /* 28px */
  color: white
}

#root {
  min-height: 100vh;
}